.bannerHomePage .dropDownMenuHomePage {
  max-width: 270px;
  z-index: 10;
}
.bannerHomePage .right-side .carouselBanner {
  height: 370px;
  width: 100%;
}
.bannerHomePage .right-side .ant-carousel {
  height: 100%;
}
.bannerHomePage .right-side .ant-carousel li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid white;
}
.bannerHomePage .right-side .ant-carousel li button {
  width: 100%;
  height: 100%;
  background-color: #dfdfdf;
  opacity: 1;
}
.bannerHomePage .right-side .ant-carousel .slick-active button {
  background-color: var(--main-blue);
}

@media only screen and (max-width: 1279.98px) {
  .bannerHomePage .right-side {
    gap: 10px;
  }
  .bannerHomePage .right-side .carouselBanner {
    height: 340px;
    max-width: 496px;
    width: 50%;
  }
  .bannerHomePage .otherBanner {
    width: 50%;
    max-height: 340px;
  }
  .bannerHomePage .otherBanner img {
    max-width: 200px;
  }
}
@media only screen and (max-width: 1023.98px) {
  .bannerHomePage .right-side .carouselBanner {
    height: unset;
    max-width: unset;
    width: unset;
  }
  .bannerHomePage .right-side .otherBanner {
    width: unset;
    max-height: unset;
  }
  .bannerHomePage .right-side .otherBanner div {
    display: flex;
    justify-content: center;
  }
  .bannerHomePage .right-side .otherBanner img {
    max-width: unset;
  }
}
@media only screen and (max-width: 639.98px) {
  .bannerHomePage .right-side .carouselBanner {
    max-height: 300px;
    padding: 0;
  }
  .ant-carousel .slick-dots-bottom {
    bottom: 5px;
  }
  .bannerHomePage .right-side .ant-carousel li {
    width: 7px;
    height: 7px;
  }
}