.hotline-phone-ring-wrap {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999999;
}
.hotline-phone-ring-wrap .hotline-phone-ring {
  position: relative;
  visibility: visible !important;
  background-color: transparent;
  width: 110px;
  height: 100px;
  cursor: pointer;
  z-index: 11;
  visibility: hidden;
  transform: translateZ(0);
  transition: visibility 0.5s;
  left: 0;
  bottom: 0;
  display: block;
}
.hotline-phone-ring-wrap .hotline-phone-ring-circle {
  border-color: #dd3333;
  width: 87px;
  height: 87px;
  top: 10px;
  left: 10px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid #e60808;
  animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  transition: all 0.5s;
  transform-origin: 50% 50%;
  opacity: 0.5;
}
.hotline-phone-ring-wrap .hotline-phone-ring-circle-fill,
.hotline-phone-ring-wrap .hotline-phone-ring-img-circle,
.hotline-phone-ring-wrap .hotline-bar {
  background-color: #dd3333;
}
.hotline-phone-ring-wrap .hotline-phone-ring-circle-fill {
  width: 57px;
  height: 57px;
  top: 25px;
  left: 25px;
  position: absolute;
  background-color: rgba(230, 8, 8, 0.7);
  border-radius: 100%;
  border: 2px solid transparent;
  animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  transition: all 0.5s;
  transform-origin: 50% 50%;
}
.hotline-phone-ring-wrap .hotline-phone-ring-img-circle {
  background-color: #e60808;
  width: 33px;
  height: 33px;
  top: 37px;
  left: 37px;
  position: absolute;
  background-size: 20px;
  border-radius: 100%;
  border: 2px solid transparent;
  animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  transform-origin: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hotline-phone-ring-wrap .hotline-phone-ring-img-circle .pps-btn-img {
  display: flex;
}
.hotline-phone-ring-wrap .hotline-phone-ring-img-circle .pps-btn-img img {
  width: 20px;
  height: 20px;
}

@keyframes phonering-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}
@keyframes phonering-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.6;
  }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
}
@keyframes phonering-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: 25deg scale(1) skew(1deg);
  }
  50% {
    transform: 0 scale(1) skew(1deg);
  }
  100% {
    transform: 0 scale(1) skew(1deg);
  }
}
.zalo-chat-widget {
  right: 25px !important;
  bottom: 95px !important;
}