.contactForm input,
.contactForm textarea {
  padding: 15px 18px;
  border: 1px solid #dadada;
  border-radius: 4px;
  width: 100%;
}
.contactForm input:focus-visible,
.contactForm textarea:focus-visible {
  outline: none;
}

@media only screen and (max-width: 1023.98px) {
  .contactForm input {
    padding: 5px 10px;
  }
}