.DetailAccountPage .right-side {
  font-size: 15px;
  color: #211f20;
}
.DetailAccountPage .right-side table {
  border-spacing: 7px;
}
.DetailAccountPage .right-side table tr td {
  padding: 7px 0;
}
.DetailAccountPage .right-side table tr td:nth-child(1) {
  width: 23%;
}
.DetailAccountPage .right-side table tr td:last-child {
  padding-left: 10px;
}
.DetailAccountPage .right-side button {
  width: 132px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #707070;
  line-height: 24px;
  padding: 10px 0;
  transition: all 0.3s;
}
.DetailAccountPage .right-side button:hover {
  color: white;
  background-color: var(--main-red);
  border-color: var(--main-red);
}

.changePersonalInfo .infoItem label {
  font-weight: 500;
}
.changePersonalInfo .infoItem input,
.changePersonalInfo .infoItem textarea {
  padding: 14px 16px;
  width: 100%;
  border: 1px solid #dadada;
  border-radius: 4px;
}
.changePersonalInfo .infoItem .ant-select-selector {
  height: 43.6px;
  display: flex;
  align-items: center;
}

.actionButton {
  border-top: 1px solid #ececec;
}
.actionButton button {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 24px;
  padding: 10px 0;
  transition: all 0.3s;
}
.actionButton button:nth-child(2) {
  width: 132px;
  color: white;
}
.actionButton button:nth-child(2):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.actionButton button:nth-child(1) {
  width: 100px;
  border: 1px solid #707070;
}
.actionButton button:nth-child(1):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

@media only screen and (max-width: 767.98px) {
  .DetailAccountPage .right-side table tr td {
    padding: 7px;
  }
  .changePersonalInfo .infoItem input,
  .changePersonalInfo .infoItem textarea {
    padding: 10px;
  }
}