.discriptionProductDetailPage .title {
  border-bottom: 2px solid #ececec;
  padding-bottom: 10px;
}
.discriptionProductDetailPage .title h4 {
  position: relative;
}
.discriptionProductDetailPage .title h4::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--main-blue);
  position: absolute;
  bottom: -13px;
  left: 0;
}

#discriptionProductDetailPage_content * {
  line-height: 1.8;
}