#dropDownMenu {
  min-width: 270px;
  width: 100%;
  text-transform: unset;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media (max-width: 1280px) {
  #dropDownMenu {
    min-width: 230px;
    max-width: 230px;
  }
}