.SelectComponent {
  cursor: pointer;
}
.SelectComponent .dropdown {
  width: 100%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.SelectComponent .dropdown-content {
  position: absolute;
  top: 110%;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  width: 100%;
  z-index: 100;
}
.SelectComponent .dropdown-content .dropdown-item {
  padding: 0px 15px;
  cursor: pointer;
  transition: all 0.2s;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
}
.SelectComponent .dropdown-content .dropdown-item:hover {
  background-color: #ececec;
}