footer {
  padding: 50px 0 30px 0;
}
footer .footer-item {
  display: flex;
  flex-direction: column;
}
footer .contact-info .other-contact .icon {
  width: 13px;
  height: 13px;
}
footer .social-item {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  transition: all 0.3s;
}
footer .social-item svg {
  fill: #003f93;
  width: 25px;
  height: 25px;
  transition: all 0.3s;
}
footer .social-item:hover {
  background-color: grey;
}
footer .social-item:hover svg {
  fill: white;
}