.formLoginPage input:focus-visible {
  outline: none;
}
.formLoginPage .formLG {
  width: 510px;
  height: 433px;
  padding: 50px 70px;
  margin: 0 auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.formLoginPage .inputUserInfo {
  padding: 15px 18px;
  border: 1px solid #dadada;
  border-radius: 4px;
}
.formLoginPage .inputUserInfo .iconInputUserInfo {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 639.98px) {
  .formLoginPage .formLG {
    width: 100%;
    padding: 40px 20px;
    height: 400px;
  }
}