.formSignupPage input:focus-visible {
  outline: none;
}
.formSignupPage .formLG {
  width: 510px;
  padding: 50px 70px;
  margin: 0 auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.formSignupPage .inputUserInfo {
  padding: 15px 18px;
  border: 1px solid #dadada;
  border-radius: 4px;
}
.formSignupPage .inputUserInfo .iconInputUserInfo {
  width: 20px;
  height: 20px;
}
.formSignupPage .reCAPTCHA {
  width: 100%;
  height: 99px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 639.98px) {
  .formSignupPage .formLG {
    width: 100%;
    padding: 40px 20px;
    height: unset;
    overflow: hidden;
  }
}