header .logo {
  max-width: 150px;
  height: 53px;
}
header .phone {
  align-items: center;
}
header .phone .icon {
  height: 20px;
}
header .dropDownSelectMenu {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding-left: 22px;
  padding-right: 12px;
}
header .dropDownSelectMenu select {
  max-width: 135px;
  overflow: hidden;
}
header .dropDownSelectMenu select:focus-visible {
  outline: none;
}
header .dropDownSelectMenu div {
  height: 100% !important;
}
header .dropDownSelectMenu .ant-select-selector {
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;
}
header .dropDownSelectMenu .ant-select-selection-item {
  display: flex;
  align-items: center;
}
header .dropDownSelectMenu .ant-select-focused {
  border: none !important;
}
header .dropDownSelectMenu .ant-select .ant-select-arrow {
  display: none;
}
header .filter {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding-left: 20px;
  padding-right: 8px;
}
header .filter input:focus-visible {
  outline: none;
}
header .search-icon {
  width: 36px;
  height: 36px;
  padding: 10px;
  border-radius: 50%;
  background: #e2e2e2;
}

.ant-select-dropdown {
  width: -moz-max-content !important;
  width: max-content !important;
}
.ant-select-dropdown div {
  width: 100% !important;
}
.ant-select-dropdown div.rc-virtual-list-scrollbar {
  width: 8px !important;
}

@media only screen and (max-width: 1023.98px) {
  header .logo {
    height: 40px;
  }
  header .logo img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  header .filterGroup {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100vh);
    width: 100vw;
    padding: 0 4%;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 30;
    height: 60px;
  }
  header .filter-phone {
    justify-content: flex-end;
    align-items: center;
  }
  header .filter {
    padding-right: 5px;
  }
  header .phone {
    padding: 7px 15px;
  }
  header .responsive_transform {
    transform: none;
  }
  header .dropDownSelectMenu,
  header .filter {
    height: 48px;
  }
}
@media only screen and (max-width: 639.98px) {
  header .logo {
    width: 112px;
    flex-basis: unset;
  }
  header .phone .icon {
    display: none;
  }
  header .filterGroup {
    flex-direction: column;
    height: -moz-max-content;
    height: max-content;
    padding: 30px 4%;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid black;
  }
  header .dropDownSelectMenu,
  header .filter {
    width: 100%;
  }
  .ant-select-dropdown {
    width: 92% !important;
    left: 0 !important;
    margin: 0 4%;
  }
  #homePage .ant-carousel .slick-list .slick-slide > div > div .border-bottom-width {
    border-bottom: unset;
  }
}