.product-item {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #ececec;
}
.product-item .circleIcon {
  width: 5px;
  height: 5px;
}
.product-item:hover {
  background-color: #ececec;
}

@media (max-width: 1280px) {
  .product-item {
    font-size: 13px;
  }
}