#menuMobile .cartIcon {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
}
#menuMobile .cartIcon .itemCart {
  position: absolute;
  top: -20%;
  right: -26%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#menuMobile .nav-btn {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  width: 25px;
  height: 25px;
}
#menuMobile .nav-btn svg {
  width: 100%;
  height: 100%;
}
#menuMobile nav {
  position: fixed;
  background-color: #e2e2e2;
  width: 100%;
  height: 100vh;
  z-index: 35;
  color: rgba(0, 0, 0, 0.6196078431);
  top: 0;
  left: 0;
  transform: translateX(-200vw);
  padding: 20px 4%;
  overflow-y: scroll;
}
#menuMobile nav a {
  display: block;
}
#menuMobile nav a,
#menuMobile nav p,
#menuMobile nav .uppercase {
  font-size: 20px;
  font-weight: 500;
}
#menuMobile nav .hover-underline {
  border-bottom: 1px solid #bec3c9;
  padding: 16px;
}
#menuMobile nav #dropDownMenu {
  margin-top: 15px;
  min-width: unset;
  max-width: unset;
  box-shadow: unset;
  color: rgba(0, 0, 0, 0.6196078431);
  background-color: #e2e2e2;
}
#menuMobile nav #dropDownMenu a {
  display: flex;
}
#menuMobile .responsive_nav {
  transform: none;
}