.newsItem {
  transition: all 0.5s;
}
.newsItem .item-img {
  height: 245px;
  width: 100%;
  overflow: hidden;
}
.newsItem .item-img img {
  transition: all 0.5s;
}
.newsItem .item-info .date {
  color: #848484;
  letter-spacing: 0.2px;
}
.newsItem:hover {
  transform: translateY(-10px);
}
.newsItem:hover .item-img img {
  scale: 110%;
}

@media only screen and (max-width: 1023.98px) {
  .newsItem .item-img {
    height: 200px;
    min-width: 200px;
    max-width: 200px;
    width: 200px;
  }
}
@media only screen and (max-width: 639.98px) {
  .newsItem .item-img {
    height: 100px;
    min-width: 100px;
    max-width: 100px;
    width: 100px;
  }
}