.OrderSummary .cartTable td {
  padding: 12.5px;
}
.OrderSummary .cartTable .itemQuantity {
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--main-red);
  color: white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.OrderSummary .costList tr td {
  padding: 16px 32px;
  border: 1px solid #ececec;
}
.OrderSummary .costList tr td:first-child {
  width: 50%;
  text-transform: capitalize;
}
.OrderSummary .costList tr td:last-child {
  width: 50%;
  text-align: right;
}

@media only screen and (max-width: 1023.98px) {
  .OrderSummary .costList tr td {
    padding: 10px;
  }
}