.PaymentMethod .paymentMethodInfo .formInfo {
  height: 22.12px;
  display: flex;
  align-items: center;
}
.PaymentMethod .paymentMethodInfo .formInfo:last-child {
  height: unset;
}
.PaymentMethod .paymentMethodInfo .formInfo input {
  width: 16px;
  height: 16px;
  border: 1px solid #dadada;
  border-radius: 50%;
}
.PaymentMethod .paymentMethodInfo .formInfo label {
  display: flex;
  align-items: center;
}
.PaymentMethod .paymentMethodInfo .formInfo label img {
  width: 24px;
}