.renderItemCart .imgName .itemImg {
  width: 70px;
  height: 70px;
}
.renderItemCart .changeQuantity {
  width: 30px;
  height: 30px;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #676767;
  font-size: 18px;
}
.renderItemCart .quantity {
  padding: 5px 0;
  border: 2px solid #cbcbcb;
  border-radius: 4px;
  max-width: 50px;
  text-align: center;
}
.renderItemCart .trashIcon {
  width: 24px;
  height: 24px;
}

@media only screen and (max-width: 1023.98px) {
  .renderItemCart .imgName .itemImg {
    min-width: 70px;
  }
  .renderItemCart .imgName .imgName {
    min-width: 140px;
  }
}