.renderProductListPage .filter {
  height: -moz-max-content;
  height: max-content;
}
.renderProductListPage .filter button {
  border-radius: 4px;
  border: 1px solid #dadada;
}
.renderProductListPage .downArrowIcon {
  width: 10px;
  height: 10px;
}
.renderProductListPage .ant-select-selector {
  display: none;
}
.renderProductListPage .ant-pagination .ant-pagination-options {
  display: none;
}
.renderProductListPage .SelectComponent {
  width: -moz-max-content;
  width: max-content;
  min-width: 131.75px;
  padding: 10px 5px;
  border: 0.5px solid rgb(148, 148, 148);
}
.renderProductListPage .SelectComponent .dropdown-content {
  width: -moz-max-content;
  width: max-content;
}

@media only screen and (max-width: 767.98px) {
  .renderProductListPage .SelectComponent {
    padding: 5px;
  }
}