.renderCarouselListItem .rightArrow {
  position: absolute;
  top: 50%;
  right: -20px;
  border: 2px solid #dadada;
  cursor: pointer;
  transform: translate(50%, -50%);
  background-color: white;
  z-index: 20;
}
.renderCarouselListItem .leftArrow {
  position: absolute;
  top: 50%;
  left: -20px;
  border: 2px solid #dadada;
  cursor: pointer;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 20;
}

@media only screen and (max-width: 1023.98px) {
  .renderCarouselListItem .rightArrow {
    right: 0;
  }
  .renderCarouselListItem .leftArrow {
    left: 0px;
  }
}
@media only screen and (max-width: 639.98px) {
  .renderCarouselListItem .rightArrow {
    right: 43%;
    top: unset;
    bottom: -53px;
    padding: 7px;
  }
  .renderCarouselListItem .leftArrow {
    left: unset;
    right: 45%;
    top: unset;
    bottom: -53px;
    padding: 7px;
  }
}