.renderIntoMoneyCartPage .costList .title,
.renderIntoMoneyCartPage .costList .detail {
  border: 1px solid #dddddd;
}
.renderIntoMoneyCartPage .costList .detail {
  border-left: none;
  padding: 16px 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.renderIntoMoneyCartPage .costList .title {
  padding: 16px 25px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

@media only screen and (max-width: 1023.98px) {
  .renderIntoMoneyCartPage .costList .title,
  .renderIntoMoneyCartPage .costList .detail {
    font-size: 14px;
    padding: 16px 10px;
  }
}