.ShippingInfo .formInfo input {
  padding: 10px 18px;
  width: 100%;
  border: 1px solid #dadada;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ShippingInfo .formInfo input:focus-visible {
  outline: none;
}
.ShippingInfo .accountSelect {
  height: 45.6px;
}
.ShippingInfo .ant-select-selector {
  height: 45.6px !important;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1023.98px) {
  .ShippingInfo .formInfo input {
    padding: 10px;
  }
}