.contactForm {
  input,
  textarea {
    padding: 15px 18px;
    border: 1px solid #dadada;
    border-radius: 4px;
    &:focus-visible {
      outline: none;
    }
    width: 100%;
  }
}
@media only screen and (max-width: 1535.98px) {
  // ok
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
  .contactForm {
    input {
      padding: 5px 10px;
    }
  }
}

@media only screen and (max-width: 767.98px) {
}

@media only screen and (max-width: 639.98px) {
}
