.paginationCustom {
  .paginationItem {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    &:hover {
      border-color: var(--main-red);
    }
  }
  .active {
    background-color: var(--main-red);
    color: white;
  }
}
