.renderProductListPage {
  .filter {
    height: max-content;
    button {
      border-radius: 4px;
      border: 1px solid #dadada;
    }
  }
  .downArrowIcon {
    width: 10px;
    height: 10px;
  }
  .ant-select-selector {
    display: none;
  }
  .ant-pagination .ant-pagination-options {
    display: none;
  }
  .SelectComponent {
    width: max-content;
    min-width: 131.75px;
    padding: 10px 5px;
    border: 0.5px solid rgba(148, 148, 148, 1);
    .dropdown-content {
      width: max-content;
    }
  }
}

@media only screen and (max-width: 767.98px) {
  .renderProductListPage {
    .SelectComponent {
      padding: 5px;
    }
  }
}
