#menu {
  .nav-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    display: none;
    svg {
      width: 28px;
      height: 28px;
    }
  }
  .left-side {
    padding-left: 24px;
    cursor: pointer;
    transition: all 0.4s;
    min-width: 270px;
    .icon {
      width: 16px;
      height: 16px;
      display: inline-block;
      transition: all 0.4s;
    }
    &:hover {
      .icon {
        width: 20px;
        height: 20px;
      }
      .dropDownMenu {
        opacity: 1;
        z-index: 2;
      }
    }
    .dropDownMenu {
      position: absolute;
      opacity: 0;
      z-index: -2;
      transition: all 0.5s;
      bottom: 0;
      left: 0;
      transform: translateY(100%);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
  }
  .right-side {
    .arrow-down {
      display: inline-block;
      width: 12px;
      height: 12px;
    }
    .cartIcon {
      width: 20px;
      height: 20px;
      display: inline-block;
      position: relative;
      .itemCart {
        position: absolute;
        top: -20%;
        right: -26%;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--main-blue);
      }
    }
    .dropDownList {
      &:hover {
        .dropDownMenu {
          opacity: 1;
          z-index: 1;
          display: block;
          position: absolute;
        }
      }
    }
    .dropDownList2 {
      display: none;
    }
    .dropDownMenu {
      // opacity: 0;
      // z-index: -2;
      display: none;
      // transition: all 0.5s;
    }
  }
  .hover-underline {
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      opacity: 0;
      height: 1.5px;
      background-color: white;
      transition: all 0.4s;
    }
    &:hover {
      &::after {
        width: 100%;
        opacity: 1;
      }
    }
  }
  .userIcon {
    #dropDownMenu {
      display: none;
      min-width: 150px;
      max-width: 150px;
      transform: translateX(-50%);
    }
    &:hover {
      #dropDownMenu {
        display: block;
      }
    }
  }
}

@media (max-width: 1280px) {
  #menu {
    .left-side {
      min-width: 230px;
    }
  }
}
@media only screen and (max-width: 1535.98px) {
  // Menu OK
}

@media only screen and (max-width: 1279.98px) {
  // Menu OK
}

@media only screen and (max-width: 1023.98px) {
  #menu {
    .left-side {
      display: none;
    }
    .right-side {
      flex-basis: 100%;
      .dropDownList {
        display: none;
      }
      .dropDownList2 {
        display: block;
      }
    }
    .nav-btn {
      display: flex;
      justify-content: end;
    }
    .nav-close-btn {
      padding-bottom: 20px;
      border-bottom: 1px solid black;
      margin-bottom: 16px;
    }
    nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      display: flex;
      // justify-content: center;
      flex-direction: column;
      transform: translateY(-100vh);
      background-color: white;
      justify-content: start;
      padding: 20px 4%;
      gap: 25px;
      background-color: white;
      color: black;
      z-index: 35;
    }
    .responsive_nav {
      transform: none;
    }
  }
}

@media only screen and (max-width: 767.98px) {
}

@media only screen and (max-width: 639.98px) {
}
