#menuMobile {
  .cartIcon {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    .itemCart {
      position: absolute;
      top: -20%;
      right: -26%;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      font-size: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .nav-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    // display: none;
    width: 25px;
    height: 25px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  nav {
    position: fixed;
    background-color: #e2e2e2;
    width: 100%;
    height: 100vh;
    z-index: 35;
    color: #0000009e;
    top: 0;
    left: 0;
    transform: translateX(-200vw);
    padding: 20px 4%;
    overflow-y: scroll;
    a {
      display: block;
    }
    a,
    p,
    .uppercase {
      font-size: 20px;
      font-weight: 500;
    }
    .hover-underline {
      border-bottom: 1px solid #bec3c9;
      padding: 16px;
    }
    #dropDownMenu {
      margin-top: 15px;
      min-width: unset;
      max-width: unset;
      box-shadow: unset;
      color: #0000009e;
      background-color: #e2e2e2;
      a {
        display: flex;
      }
    }
  }
  .responsive_nav {
    transform: none;
  }
}
