.ant-spin-spinning {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.885) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
