.newsItem {
  .item-img {
    height: 245px;
    width: 100%;
    overflow: hidden;
    img {
      transition: all 0.5s;
    }
  }
  .item-info {
    .date {
      color: #848484;
      letter-spacing: 0.2px;
    }
  }
  transition: all 0.5s;
  &:hover {
    transform: translateY(-10px);
    .item-img {
      img {
        scale: 110%;
      }
    }
  }
}
@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
  .newsItem .item-img {
    height: 200px;
    min-width: 200px;
    max-width: 200px;
    width: 200px;
  }
}

@media only screen and (max-width: 767.98px) {
}

@media only screen and (max-width: 639.98px) {
  .newsItem .item-img {
    height: 100px;
    min-width: 100px;
    max-width: 100px;
    width: 100px;
  }
}
