.renderCartCartPage {
  th {
    font-weight: 400;
  }
  td,
  th {
    padding: 16px 32px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    height: 100%;
  }
}
@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
  .renderCartCartPage td,
  .renderCartCartPage th {
    padding: 16px;
  }
}

@media only screen and (max-width: 1023.98px) {
  .renderCartCartPage td,
  .renderCartCartPage th {
    min-width: 125px;
    padding: 10px;
  }
  .renderCartCartPage {
    tbody {
      tr {
        &:last-child {
          input {
            max-width: 135px;
          }
          button {
            padding: 0.5rem 1rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767.98px) {
}

@media only screen and (max-width: 639.98px) {
  .renderCartCartPage td,
  .renderCartCartPage th {
    padding: 8px;
  }
}
