.renderItemCart {
  .imgName {
    .itemImg {
      width: 70px;
      height: 70px;
    }
  }
  .changeQuantity {
    width: 30px;
    height: 30px;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #676767;
    font-size: 18px;
  }
  .quantity {
    padding: 5px 0;
    border: 2px solid #cbcbcb;
    border-radius: 4px;
    max-width: 50px;
    text-align: center;
  }
  .trashIcon {
    width: 24px;
    height: 24px;
  }
}
@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
  .renderItemCart {
    .imgName {
      .itemImg {
        min-width: 70px;
      }
      .imgName {
        min-width: 140px;
      }
    }
  }
}

@media only screen and (max-width: 767.98px) {
}

@media only screen and (max-width: 639.98px) {
}
