.bannerHomePage {
  // max-height: 397.6px;
  .dropDownMenuHomePage {
    max-width: 270px;
    z-index: 10;
  }
  .right-side {
    .carouselBanner {
      height: 370px;
      // width: 496px;
      width: 100%;
    }
    .ant-carousel {
      height: 100%;
      li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid white;
        button {
          width: 100%;
          height: 100%;
          background-color: #dfdfdf;
          opacity: 1;
        }
      }
      .slick-active {
        button {
          background-color: var(--main-blue);
        }
      }
    }
  }
  // .otherBanner {
  //   width: 370px;
  //   gap: 10px;
  //   max-height: 370px;
  // }
  // .ant-carousel {
  //   height: 100%;
  //   div {
  //     height: 100%;
  //   }
  // }
}

@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
  .bannerHomePage {
    // .right-side {
    //   .carouselBanner {
    //     height: 340px;
    //     width: 100%;
    //   }
    //   .otherBanner {
    //     height: 340px;
    //     max-height: 340px;
    //     img {
    //       width: 50%;
    //     }
    //   }
    // }
    .right-side {
      gap: 10px;
      .carouselBanner {
        height: 340px;
        max-width: 496px;
        width: 50%;
      }
    }
    .otherBanner {
      width: 50%;
      // gap: 10px;
      max-height: 340px;
      img {
        max-width: 200px;
      }
    }
  }
}

@media only screen and (max-width: 1023.98px) {
  .bannerHomePage {
    .right-side {
      .carouselBanner {
        height: unset;
        max-width: unset;
        width: unset;
      }
      .otherBanner {
        width: unset;
        max-height: unset;
        div {
          display: flex;
          justify-content: center;
        }
        img {
          max-width: unset;
        }
      }
    }
  }
}

@media only screen and (max-width: 767.98px) {
}

@media only screen and (max-width: 639.98px) {
  .bannerHomePage .right-side .carouselBanner {
    max-height: 300px;
    padding: 0;
  }
  .ant-carousel .slick-dots-bottom {
    bottom: 5px;
  }
  .bannerHomePage .right-side .ant-carousel li {
    width: 7px;
    height: 7px;
  }
}
