.OrderSummary {
  .cartTable {
    td {
      padding: 12.5px;
    }
    .itemQuantity {
      font-size: 10px;
      position: absolute;
      top: 0;
      right: 0;
      background-color: var(--main-red);
      color: white;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .costList {
    tr {
      td {
        padding: 16px 32px;
        border: 1px solid #ececec;
        &:first-child {
          width: 50%;
          text-transform: capitalize;
        }
        &:last-child {
          width: 50%;
          text-align: right;
        }
      }
    }
  }
}
@media only screen and (max-width: 1535.98px) {
  // ok
}

@media only screen and (max-width: 1279.98px) {
  // ok
}

@media only screen and (max-width: 1023.98px) {
  .OrderSummary .costList tr td {
    padding: 10px;
  }
}

@media only screen and (max-width: 767.98px) {
}

@media only screen and (max-width: 639.98px) {
}
