.PaymentMethod {
  .paymentMethodInfo {
    .formInfo {
      height: 22.12px;
      display: flex;
      align-items: center;
      &:last-child {
        height: unset;
      }
      input {
        width: 16px;
        height: 16px;
        border: 1px solid #dadada;
        border-radius: 50%;
      }
      label {
        display: flex;
        align-items: center;
        img {
          width: 24px;
        }
      }
    }
  }
}
