.ShippingInfo {
  .formInfo {
    input {
      padding: 10px 18px;
      width: 100%;
      border: 1px solid #dadada;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:focus-visible {
        outline: none;
      }
    }
  }
  .accountSelect {
    height: 45.6px;
  }
  .ant-select-selector {
    // background-color: var(--main-gray) !important;
    height: 45.6px !important;
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
  .ShippingInfo .formInfo input {
    padding: 10px;
  }
}

@media only screen and (max-width: 767.98px) {
}

@media only screen and (max-width: 639.98px) {
}
