@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-blue: #003f93;
  --main-blue-2: #003479;
  --main-red: #f5ad00;
  --main-gray: #f8f8f8;
}

.bg-main-blue {
  background-color: var(--main-blue);
}
.bg-main-blue-2 {
  background-color: var(--main-blue-2);
}
.bg-main-gray {
  background-color: var(--main-gray);
}
.bg-main-red {
  background-color: var(--main-red);
}
.text-main-blue {
  color: var(--main-blue);
}
.text-main-red {
  color: var(--main-red);
}
.text-main-blue-2 {
  color: var(--main-blue-2);
}
.container-1 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  /* border: 1px solid #007297; */
  padding-left: 135px;
  padding-right: 135px;
}
.tb-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}
.tb-padding-2 {
  padding-top: 60px;
  padding-bottom: 100px;
}
.tb-padding-3 {
  padding-top: 30px;
  padding-bottom: 100px;
}
h2 {
  font-size: 32px;
  line-height: 24px;
  letter-spacing: 0.02;
  font-weight: bold;
}
h4 {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.2;
}
h5 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}
p,
label {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0;
}
.p2 {
  line-height: 22px;
  letter-spacing: 0.02em;
}
.main-title {
  margin-bottom: 40px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain !important;
  object-position: center;
  max-height: inherit;
}
.main-border {
  border-radius: 2px;
}
.border-main-blue {
  border: 1px solid var(--main-blue);
}
body {
  font-family: "Roboto", sans-serif;
  color: #211f20;
}

#homePage .sanPhamBanChay .renderProductList {
  border-top: 1px solid #ececec;
}
.ant-modal-footer {
  display: none;
}
body {
  overflow-x: hidden;
}
.ant-pagination .ant-pagination-item {
  border-color: #dadada;
}
.ant-pagination .ant-pagination-item-active {
  border-color: var(--main-red);
  background-color: var(--main-red);
}
.ant-pagination .ant-pagination-item-active a {
  color: white;
}
.ant-pagination .ant-pagination-item-active:hover {
  border-color: #dadada;
}
.ant-pagination .ant-pagination-item-active:hover a {
  color: black;
}
.ant-pagination .ant-pagination-item-link {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-color: #dadada !important;
}
h2 img {
  width: 148.16px;
}
/* Responsive */
@media (max-width: 1439.98px) {
  .container-1 {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (max-width: 1279.98px) {
  .container-1 {
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
  h4 {
    font-size: 20px;
    line-height: 1;
  }
  p,
  label,
  button,
  td,
  th {
    font-size: 14px;
    line-height: 20px;
  }
  .tb-padding-2,
  .tb-padding-3 {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .tb-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  h2 {
    font-size: 25px;
    line-height: 1;
    letter-spacing: 0.02;
    font-weight: bold;
  }
}

@media only screen and (max-width: 767.98px) {
}

@media only screen and (max-width: 639.98px) {
  h5 {
    font-size: 16px;
    line-height: 20px;
  }
}
