.newsHomePage {
  .xem-them {
    &:hover {
      a {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
    }
    a {
      transition: all 0.5s;
    }
  }
}

@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
}

@media only screen and (max-width: 767.98px) {
}

@media only screen and (max-width: 639.98px) {
}
