header {
  .logo {
    max-width: 150px;
    height: 53px;
  }
  .phone {
    align-items: center;
    .icon {
      height: 20px;
    }
  }
  .dropDownSelectMenu {
    display: flex;
    align-items: center;
    border: 1px solid #dadada;
    padding-left: 22px;
    padding-right: 12px;
    select {
      max-width: 135px;
      overflow: hidden;
      &:focus-visible {
        outline: none;
      }
    }
    div {
      height: 100% !important;
      // width: 100% !important;
    }
    .ant-select-selector {
      border: none !important;
      padding: 0 !important;
      box-shadow: none !important;
    }
    .ant-select-selection-item {
      display: flex;
      align-items: center;
    }
    .ant-select-focused {
      border: none !important;
    }
    .ant-select .ant-select-arrow {
      display: none;
    }
  }
  .filter {
    display: flex;
    align-items: center;
    border: 1px solid #dadada;
    padding-left: 20px;
    padding-right: 8px;
    input {
      &:focus-visible {
        outline: none;
      }
    }
  }
  .search-icon {
    width: 36px;
    height: 36px;
    padding: 10px;
    border-radius: 50%;
    background: #e2e2e2;
  }
}
.ant-select-dropdown {
  width: max-content !important;
  div {
    width: 100% !important;
  }
  div.rc-virtual-list-scrollbar {
    width: 8px !important;
  }
}

@media only screen and (max-width: 1535.98px) {
  // Header ok
}

@media only screen and (max-width: 1279.98px) {
  // Header ok
}

@media only screen and (max-width: 1023.98px) {
  // Not ok -> responsive
  header {
    .logo {
      height: 40px;
      img {
        object-fit: contain;
      }
    }
    .filterGroup {
      position: fixed;
      top: 0;
      left: 0;
      transform: translateY(-100vh);
      width: 100vw;
      padding: 0 4%;
      align-items: center;
      justify-content: center;
      background-color: white;
      z-index: 30;
      height: 60px;
    }
    .filter-phone {
      justify-content: flex-end;
      align-items: center;
    }
    .filter {
      padding-right: 5px;
    }
    .phone {
      padding: 7px 15px;
    }
    .responsive_transform {
      transform: none;
    }
    .dropDownSelectMenu,
    .filter {
      height: 48px;
    }
  }
}

@media only screen and (max-width: 767.98px) {
}

@media only screen and (max-width: 639.98px) {
  header {
    .logo {
      width: 112px;
      flex-basis: unset;
    }
    .phone {
      .icon {
        display: none;
      }
    }
    .filterGroup {
      flex-direction: column;
      height: max-content;
      padding: 30px 4%;
      align-items: flex-start;
      gap: 10px;
      border-bottom: 1px solid black;
    }
    .dropDownSelectMenu,
    .filter {
      width: 100%;
    }
  }
  .ant-select-dropdown {
    width: 92% !important;
    left: 0 !important;
    margin: 0 4%;
  }
  #homePage {
    .ant-carousel .slick-list .slick-slide > div > div {
      .border-bottom-width {
        border-bottom: unset;
      }
    }
  }
}
