.infoProductDetailPage {
  .title h2 {
    line-height: 1.2;
  }
  .changeQuantity {
    width: 30px;
    height: 30px;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #676767;
    font-size: 18px;
  }
  .quantity {
    padding: 5px 0;
    border: 2px solid #cbcbcb;
    border-radius: 4px;
    max-width: 50px;
    text-align: center;
  }
  .button-action {
    border-top: 1px solid #ececec;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
}

@media only screen and (max-width: 767.98px) {
}

@media only screen and (max-width: 639.98px) {
}
