footer {
  padding: 50px 0 30px 0;
  .footer-item {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
  }
  .contact-info {
    .other-contact {
      .icon {
        width: 13px;
        height: 13px;
      }
    }
  }
  .social-item {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    transition: all 0.3s;
    svg {
      fill: #003f93;
      width: 25px;
      height: 25px;
      transition: all 0.3s;
    }
    &:hover {
      background-color: grey;
      svg {
        fill: white;
      }
    }
  }
}
@media only screen and (max-width: 1535.98px) {
  // ok
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
}

@media only screen and (max-width: 767.98px) {
}

@media only screen and (max-width: 639.98px) {
}
