.imageGalleryProductDetailPage {
  .ant-carousel {
    &:nth-child(2) {
      position: relative;
      &:hover {
        .arrowIcon {
          opacity: 1;
        }
      }
      .arrowIcon {
        opacity: 0;
        transition: all 0.2s;
        width: 26px;
        height: 26px;
        background-color: #eeeeee;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: calc(50% - 13px);
        z-index: 10;
        svg {
          color: #676767;
          transition: all 0.5s;
          &:hover {
            color: #9e9e9e;
          }
        }
      }
    }
  }
  .slick-center {
    border: 1px solid var(--main-blue);
  }
}
