.renderIntoMoneyCartPage {
  .costList {
    .title,
    .detail {
      border: 1px solid #dddddd;
    }
    .detail {
      border-left: none;
      padding: 16px 25px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .title {
      padding: 16px 25px;
      display: flex;
      align-items: center;
      text-transform: capitalize;
    }
  }
}
@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
  .renderIntoMoneyCartPage {
    .costList {
      .title,
      .detail {
        font-size: 14px;
        padding: 16px 10px;
      }
    }
  }
}

@media only screen and (max-width: 767.98px) {
}

@media only screen and (max-width: 639.98px) {
}
