.DetailAccountPage {
  .right-side {
    font-size: 15px;
    color: #211f20;
    table {
      border-spacing: 7px;
      tr {
        td {
          padding: 7px 0;
          &:nth-child(1) {
            width: 23%;
          }
          &:last-child {
            padding-left: 10px;
          }
        }
      }
    }
    button {
      width: 132px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #707070;
      line-height: 24px;
      padding: 10px 0;
      transition: all 0.3s;
      &:hover {
        color: white;
        background-color: var(--main-red);
        border-color: var(--main-red);
      }
    }
  }
}
.changePersonalInfo {
  .infoItem {
    label {
      font-weight: 500;
    }
    input,
    textarea {
      padding: 14px 16px;
      width: 100%;
      border: 1px solid #dadada;
      border-radius: 4px;
    }
    .ant-select-selector {
      height: 43.6px;
      display: flex;
      align-items: center;
    }
  }
}
.actionButton {
  border-top: 1px solid #ececec;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 24px;
    padding: 10px 0;
    transition: all 0.3s;
    &:nth-child(2) {
      width: 132px;
      color: white;
      &:hover {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      }
    }
    &:nth-child(1) {
      width: 100px;
      border: 1px solid #707070;
      &:hover {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      }
    }
  }
}

@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
}

@media only screen and (max-width: 767.98px) {
  .DetailAccountPage .right-side table tr td {
    padding: 7px;
  }
  .changePersonalInfo .infoItem input,
  .changePersonalInfo .infoItem textarea {
    padding: 10px;
  }
}

@media only screen and (max-width: 639.98px) {
}
