.renderProductItem {
  transition: all 0.5s;
  .item-img {
    width: 100%;
    height: 100%;
    max-height: 210px;
    aspect-ratio: 1/1;
    img {
      transition: all 0.5s;
    }
  }
  .price {
    transition: all 0.5s;
  }
  .title {
    height: 48px;
  }
  .action-cart {
    .buy-item {
      transition: all 0.2s;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;
      }
    }
    .add-item {
      border-radius: 2px;
      border: 2px solid var(--main-blue);
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;
      }
    }
    .bag-icon {
      width: 16px;
      height: 16px;
    }
  }
  .item-info {
    &:hover {
      .price {
        color: var(--main-blue-2);
      }
      .title {
        color: var(--main-blue-2);
        font-weight: 500;
      }
      .item-img {
        img {
          scale: 110%;
        }
      }
    }
  }
  &:hover {
    box-shadow: var(--main-blue) 0px 0px 0px 3px;
    border-radius: 4px;
  }
}

@media only screen and (max-width: 767.98px) {
  .renderProductItem {
    padding: 0;
  }
}
